
name: Java CI with Maven, SonarCloud, SBOM

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Temurin JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '17'
          cache: 'maven'

      - name: Build & Test
        run: mvn -B -q clean verify

      - name: Generate Javadoc
        run: mvn -q javadoc:javadoc

      - name: SonarCloud Scan
        env:
          SONAR_TOKEN: d09abf2826a531767f7c46453a8336f2620cc28a
          SONAR_ORG: ${{ secrets.SONAR_ORG }}
          SONAR_PROJECT_KEY: maissadridi
        run: |
          mvn -B -q -DskipTests=false             sonar:sonar             -Dsonar.login=${SONAR_TOKEN}

      - name: Archive build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: build-outputs
          path: |
            target/*.jar
            target/site/apidocs/**
            target/bom.json
